{% extends 'society/base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center"
    style="min-height: 80vh;">
    <div class="card shadow p-4" style="width: 100%; max-width: 600px;">
        <h3 class="text-center mb-4">Create New Notice</h3>
        <a href="{% url 'complaints-list' %}">
            <h6 class="text-center mb-4">List of registered complaints</h6>
        </a>
        <!-- Display Django form or message errors -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <ul class="mb-0">
                    {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                    <li><strong>{{ field|capfirst }}:</strong> {{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <!-- Complaint Form -->
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="title" class="form-label">{{form.title.label }}</label>
                    {{ form.title }}
                </div>
                <div class="col-md-6">
                    <label for="image" class="form-label">{{form.image.label }}</label>
                    {{ form.image }}
                    <small id="imgHelp" class="form-text text-muted">Image size < 2 MB | Format: .jpg.png.svg</small>
                </div>
            </div>

            <div class="mb-3">
                <label for="message" class="form-label">{{ form.message.label }}</label>
                {{ form.message }}
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success">SUBMIT</button>
                <a href="{% url 'dashboard' %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
