{% extends 'society/base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-7">
            <div class="card shadow-lg rounded-4">
                <div class="card-body p-4">
                    <h4 class="card-title text-center mb-4">Update Profile</h4>
                    {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <ul class="mb-0">
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                            <li><strong>{{ field|capfirst }}:</strong> {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <form method="post" class="row g-3" novalidate>
                        {% csrf_token %}
                        <div class="col-md-3">
                            <label for="first_name" class="form-label">{{ form.first_name.label }}</label>
                            {{ form.first_name }}
                        </div>
                       <div class="col-md-3">
                            <label for="last_name" class="form-label">{{ form.last_name.label }}</label>
                            {{ form.last_name }}
                        </div>
                        <div class="col-md-6">
                            <label for="email" class="form-label">{{ form.email.label }}</label>
                            {{ form.email }}
                        </div>
                        <div class="col-6">
                            <label for="mobile" class="form-label">{{ form.mobile.label }}</label>
                            {{ form.mobile }}
                        </div>
                        <div class="col-6">
                            <label for="owner_type" class="form-label">{{ form.owner_type.label }}</label>
                            {{ form.owner_type }}
                        </div>

                        <div class="col-md-6">
                            <label for="flat" class="form-label">{{ form.flat.label }}</label>
                            {{ form.flat }}
                        </div>
                        
                        <div class="col-6">
                            <label for="bike_number" class="form-label">{{ form.bike_number.label }}</label>
                            {{ form.bike_number }}
                        </div>
                        <div class="col-6">
                            <label for="car_number" class="form-label">{{ form.car_number.label }}</label>
                            {{ form.car_number }}
                        </div>
                        <div class="col-6">
                            <label for="id_type" class="form-label">{{ form.id_type.label }}</label>
                            {{ form.id_type }}
                        </div>
                        <div class="col-6">
                            <label for="id_number" class="form-label">{{ form.id_number.label }}</label>
                            {{ form.id_number }}
                        </div>
                        
                        <div class="row text-center" style="margin-top: 1rem; margin-left: 0.2rem;">
                            <div class="col-6 d-grid">
                                <button type="submit" name="action" value="UPDATE" class="btn btn-success btn-sm">ENTRY</button>
                            </div>
                            <div class="col-6 d-grid">
                                <a href="{% url 'dashboard' %}" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
